.mainDiv{
  display: flex;
  width: 50vw;
  margin: auto;
  top: 50vh;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.subDiv{
  background-color: #efefef;
  width: 45vw;
  margin: 20px auto;
}

.headingDiv{
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  color: gray;
}

.headingDiv h1{
  font-size: 16px;
}

.indexNo{
  display: inline;
}

.fieldDiv{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.fieldSubDiv1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.fieldSubDiv2{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fieldName{
  margin: 12px;
  background-color: transparent;
  color: black;
  border: none;
  width: 7rem;
  outline: none;
}


.fieldName:focus{
  background-color: white;
}

.select{
  background-color: transparent;
}

.select option{
  border: none;
  margin: 2px 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nestedFormInput{
  display: block;
}


.btn{
  background-color: #165eff;
  padding: 5px 10px;
  color: white;
  margin: 12px;
  border-radius: 5px;
}